{% extends "base.html" %}

{% block title %}Адмін-панель{% endblock %}

{% block content %}
<h2>Додавання нової страви</h2>
<form action="/admin" method="post">
    <label for="name">Назва страви:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="description">Опис:</label><br>
    <textarea id="description" name="description" required></textarea><br><br>

    <label for="price">Ціна:</label><br>
    <input type="text" id="price" name="price" required><br><br>

    <button type="submit" class="btn btn-primary">Додати</button>
</form>
{% endblock %}
