<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Піцерія Oderman{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Піцерія Oderman</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Головна</a></li>
                <li><a href="{{ url_for('menu') }}">Меню</a></li>
                <li><a href="{{ url_for('admin') }}">Адмін</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
<body>


</body>